html{
  height: 100%;
  width: 100%;
  color: #426E86;
}

main>section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position:absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  height: 20px;
}

main>section h1{
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 2em;
}

main{
  position:relative;
}
a{
  color: black;
}