main{
  display: list-item;
  flex-wrap: wrap;
  justify-content: space-around;
}

main>section{
  display: flex;
  flex-direction: column;
  flex: 1;
}

main>h1{
  margin-top: 5vh;
  flex-basis: 100%;
  text-align: center;
  color: #426e86;
}

main>section>h1,h2,h4{
  color: #426e86;
  text-align: center;
}

main>section>h5{
  text-align: center;
  padding-bottom: 2em;
}

main>section>ul>li{
  margin-left: 20%;
  margin-right: 20%;
  border: 1px solid #e3e6f0;
  border-radius: 5px;
  padding-left: 1em;
  margin: 1em 5em;
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: box-shadow 0.2s;
}

main>section>ul>li>form{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

main>section>ul>li:hover{
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
  cursor: pointer;
}

main>section>ul>li>form>p:nth-child(2n){
  flex: 1;
  margin-left: 2em;
}

main>section>ul>li>form>p:nth-child(2n+1){
  flex-basis: 100%;
  height: 1.2em;
  overflow: hidden;
}
