main>section>ul{
  flex-basis: 100%;
  margin: 2em;
}

/* ICONES DE LISTE */
main>section>ul>li>ion-icon{
  color: #b2b6b7;
  transition: color 0.5s;
}

main>section>ul>li>ion-icon:hover{
  cursor: pointer;
  color: black;
}

/* LE PARAGRAPHE EN CAS D'AUNCUN ESCAPE ENREGISTRÉ */
main>section>p{
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20vh;
}
