main>section>form>ul{
  display: flex;
  margin: 1em 5em;
}

main>section>form>ul>section{
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 1em;
  flex: 1;
}

main>section>form>ul>section>label{
  flex-basis: 100%;
}

main>section>form>ul>section>h2, main>section>form>ul>section>section>h2{
  color: #426e86;
  text-align: center;
}

main>section>form>ul>section:nth-child(2n){
  margin-left: 5em;
}

main>section>form>ul>section:nth-child(2n)>p{
  text-align: center;
}

main>section>form>ul>section>section{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

main>section>form>ul>section>section>h2{
  flex: 1;
}

main>section>form>ul>section>label{
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

main>section>form>ul>section>label>input, main>section>form>ul>section>label>textarea{
  flex-basis: 60%;
  margin: 0 1rem;
  resize : vertical;
}

main>section>form>ul>section>label>div>input[type=date]{
  flex: 1;
  text-align: center;
}

main>section>form>ul>section>label>div>p{
  margin: 0 1rem;
}

main>section>form>ul>section>ul{
  padding: 1em;
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
  max-height: 6em;
}

main>section>form>ul>section>ul>li{
  border: 1px solid lightgrey;
  margin: 0.5em;
  flex-basis: 25%;
  text-align: center;
  padding: 0.5em;
  border-radius: 5px;
}

main>section>form>ul>section>ul>li:hover{
  cursor: pointer;
}

/* LISTE DES INSTANCES */
main>section>form>section>section{
  display: flex;
  align-items: center;
}

main>section>form>section>section>h2{
  text-align: center;
  color: #426e86;
  flex: 1;
}

main>section>form>section>p{
  text-align: center;
}

main>section>form>section>ul{
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 1em;
  margin: 1em 5em;
  flex: 1;
}

main>section>form>section>ul>li{
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

main>section>form>section>ul>li>*{
  flex: 1;
}

main>section>form>section>ul>li>p{
  overflow: hidden;
  margin-right: 5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 35vw;
}

main>section>form>section>ul>li:last-child{
  border-bottom: none !important;
}

main>section>form>section>ul>li>ion-icon{
  color: lightgrey;
  transition: color 0.5s;
}

main>section>form>section>ul>li>ion-icon:hover{
  cursor: pointer;
  color: grey;
}

main>section>form>section>ul>li>label{
  display: flex;
  align-items: center;
}

main>section>form>section>ul>li>label>div{
   display: flex;
   align-items: center;
 }

 main>section>form>section>ul>li>label>div>input{
   margin: 0 0.5em;
 }

main > section > form > section > section > div {
  margin-right: 5em !important;
}