#modal1>section>form{
  display: flex;
  flex-wrap: wrap;
}

#modal1>section>form>label, #modal1>section>form>input, #modal1>section>form>textarea{
  flex-basis: 100%;
}

#modal1>section>form>label{
  margin-top: 1.5em;
}
