{% extends 'accueil-prof.html' %}

{% block head_suplementaire %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/gestion-groupes.css') }}">
{% endblock %}

{% block title %}
  <title>Gestion Groupes</title>
{% endblock %}

{% block contenu_onglet %}
  <section>
    <button {% if not listeGroupes %} disabled {% endif %} couleur="supression" onCLick="if(confirm('Êtes-vous sûr de vouloir supprimer tous les groupes ? \nCette opération est irréversible !')){location.href='/groupes/supprimer/tout'};"><ion-icon name="trash" size="small"></ion-icon>Supprimer les groupes</button>
    <h1>Groupes</h1>
    <button couleur="validation" onClick="location.href='/groupes/nouveau';"><ion-icon name="add-circle-outline" size="small"></ion-icon>Nouveau</button>
  </section>
  <ul>
    {% if listeGroupes %}
      {% for groupe, listePersonnes, listeEscapes in listeGroupes %}
        <li>
          <section onClick="location.href='/groupes/modifier/{{ groupe.id }}';">
            <h3>{{ groupe }}</h3>
              <p>{% for personne in listePersonnes %}{% if loop.index == listePersonnes|length %}{{ personne.nom }} {{ personne.prenom }}{% else %}{{ personne.nom }} {{ personne.prenom }}, {% endif %}{% endfor %}</p>
              <p>{% if listeEscapes %}{% for escape in listeEscapes %}{% if loop.index == listeEscapes|length %}{{ escape }}{% else %}{{ escape }}, {% endif %}{% endfor %}{% else %}Ce groupe n'est pas encore associé à un escape game{% endif %}</p>
          </section>
          <ion-icon name="trash" size="large" onClick="if(confirm('Êtes-vous sûr de vouloir supprimer ce groupe ? \nCette opération est irréversible !')){document.location.href='/groupes/supprimer/{{ groupe.id }}';}" ></ion-icon>
        </li>
      {% endfor %}
    {% else %}
      <p>Aucun groupe n'est encore créé, appuyez sur le bouton nouveau pour y remédier</p>
      <p>Vous pouvez aussi importer une liste d'étudiants <button onClick="document.location.href='/etudiants/';">ici</button> et leurs groupes respectifs seront créés automatiquement</p>
    {% endif %}
  </ul>
{% endblock %}
