{% extends 'header-footer.html' %}

{% block head %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jouer-escape.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
  <title>Jouer à "{{ instance.modele_escape.nom }}"</title>
{% endblock %}

{% block header_titre %}
  <h3 id="header-titre">{{ instance.modele_escape.nom }}</h3>
  <p>Note : {{ note[0] }} / {{ note[1] }} | Max : {{ note[2] }} / {{ note[1] }}</p>
{% endblock %}

{% block header_liens %}
  <li><a href="{{ url_for('accueil_etudiant') }}"><ion-icon name="home" size="small"></ion-icon>Accueil</a></li>
  <li><a href="/deconnexion"><ion-icon name="log-out" size="small"></ion-icon>Déconnexion</a></li>
{% endblock %}

{% block main %}
  {% if message %}
    <div id="message" couleur="{{ couleur }}">
      <div>
        <p>{{ message }}</p>
        <ion-icon name="close" size="small" onClick="fermerMessage();">
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/message.js') }}"></script>
  {% endif %}

  <aside>
    <section>
      <h3>Membres</h3>
      <ul>
        {% for pers in groupe.personnes %}
          <li><div style="background-color: {% if pers.active %}#1aaa55{% else %}#db3b21{% endif %};"></div>{{ pers.prenom }} {{ pers.nom }}</li>
        {% endfor %}
      </ul>
    </section>
    <section>
      <h3>Inventaire commun</h3>
      <ul id="inventaire">
        {% if listeIndicesTrouves != [] %}
          {% for indice in listeIndicesTrouves %}
            {% if indice.modele_indice and indice.modele_indice.image %}
              <li onClick="afficherIndiceFromId({{ indice.id }});"><img src="{{ indice.modele_indice.image.image }}" alt="image de l'indice"/></li>
            {% elif indice.image %}
              <li onClick="afficherIndiceFromId({{ indice.id }});"><img src="{{ indice.image.image }}" alt="image de l'indice"/></li>
            {% else %}
              <li onClick="afficherIndiceFromId({{ indice.id }});"><ion-icon name="close"></li>
            {% endif %}
          {% endfor %}
        {% else %}
          <p>Aucun indice dans l'inventaire</p>
        {% endif %}
      </ul>
    </section>
    <section>
      <h3>Salles</h3>
      <ul id="listeLiensSalles">
        {% for association in listeAssociationSalles %}
            {% if association.est_decouverte == 1 or association.salle.modele_salle.est_libre == 1 %}
              <li onClick="afficherSalle({{ association.salle.id }});">
                <ion-icon name="lock-open-outline" size="small"></ion-icon>
                Salle {{ loop.index }}
                <ion-icon name="lock-open-outline" size="small"></ion-icon>
            {% else %}
              <li>
                <ion-icon name="lock-closed" size="small"></ion-icon>
                Salle {{ loop.index }}
                <ion-icon name="lock-closed" size="small"></ion-icon>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </section>
    <section>
      <section>
        <p>Prochaine sauvegarde</p>
        <div>
          <ion-icon name="timer-outline" size="small"></ion-icon>
          <em id="clock">5:00</em>
        </div>
      </section>
      <button couleur="validation" onClick="sauvegarderAvancee();">Sauvegarder l'avancée</button>
    </section>
  </aside>

  <section id="description_salle">
    <p></p>
  </section>

  <div id="modal" class="modal">
    <section>
      <section>
        <p></p>
        <input type="text" placeholder="la réponse est ..."/>
        <div>
          <p><ion-icon name="warning-outline" size="large"></ion-icon>Si la réponse n'est pas la bonne, vous perdrez des points !</p>
          <button couleur="validation" onclick="resoudreEnigme(this);">Résoudre l'énigme</button>
        </div>
      </section>
    </section>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename='js/pixi.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/modal.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/jouer-escape.js') }}"></script>
  <script type="text/javascript">
    const numEscape = {{ instance.id }};

    {% for listeIndiceSalle in listeIndicesDansEscape %}
      {% if listeIndiceSalle != [] %}
        {% for indice in listeIndiceSalle %}
          {% if indice.modele_indice %}
            listeIndices.set({{ indice.id_zone }}, [{{ indice.id }}, ('{{ indice.modele_indice.contenu }}').split("&#39;").join("'"), {{ indice.enigmes[0].id }}, "{{ indice.modele_indice.image.image }}", "{{ indice.est_trouve }}", 0]);
          {% elif indice.zones %}
            listeIndices.set({{ indice.zones[0].id }}, [{{ indice.id }}, ('{{ indice.contenu }}').split("&#39;").join("'"), {{ indice.enigme_speciale.id }}, "{{ indice.image.image }}", "{{ indice.est_trouve }}", 1]);
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}

    {% for association in listeAssociationSalles %}
      ordreSalles.set("{{ association.salle.modele_salle.ordre_salle }}", {{ association.salle.id }});
      salle{{ loop.index }} = new Map();
      salle{{ loop.index }}.set("id", {{ association.salle.id }});
      salle{{ loop.index }}.set("affichable", "{{ association.est_decouverte == 1 or association.salle.modele_salle.est_libre == 1 }}");
      salle{{ loop.index }}.set("description", "{{ association.salle.modele_salle.desc }}");
      salle{{ loop.index }}.set("image", "{{ association.salle.modele_salle.image.image }}");
      {% if (association.salle.enigme != None and association.salle.enigmes_speciales == []) or ((association.salle.enigmes_speciales != [] and association.salle.enigme != None) and association.salle.modele_salle.utilise_enigme_spe != 1) %}
        salle{{ loop.index }}.set("enigme", [{{ association.salle.enigme.id }}, ("{{ association.salle.enigme.modele_enigme.intitule }}").split("&#39;").join("'"), ("{{ association.salle.enigme.modele_enigme.solution }}").split("&#39;").join("'"), {{ association.salle.enigme.modele_enigme.nb_points }}, "{{ association.salle.enigme.modele_enigme.image.image }}", "{{ association.salle.enigme.est_resolu }}"]);
        salle{{ loop.index }}.set("est_enigme_speciale", 0);
      {% elif (association.salle.enigmes_speciales != [] and association.salle.enigme == None) or ((association.salle.enigmes_speciales != [] and association.salle.enigme != None) and association.salle.modele_salle.utilise_enigme_spe == 1) %}
        salle{{ loop.index }}.set("enigme", [{{ association.salle.enigmes_speciales[0].id }}, ("{{ association.salle.enigmes_speciales[0].intitule }}").split("&#39;").join("'"), ("{{ association.salle.enigmes_speciales[0].solution }}").split("&#39;").join("'"), {{ association.salle.enigmes_speciales[0].nb_points }}, "{{ association.salle.enigmes_speciales[0].image.image }}", "{{ association.salle.enigmes_speciales[0].est_resolu_groupe_courant }}"]);
        salle{{ loop.index }}.set("est_enigme_speciale", 1);
      {% endif %}

      let listeZonesSalle{{ association.salle.id }} = [];
      {% for zone in association.salle.zones %}
        let dicoZones{{ association.salle.id }}{{ loop.index }} = new Map();
        dicoZones{{ association.salle.id }}{{ loop.index }}.set("id", {{ zone.id }});
        dicoZones{{ association.salle.id }}{{ loop.index }}.set("values", [{{ zone.modele_zone.pos_x }},{{ zone.modele_zone.pos_y }}, {{ zone.modele_zone.hauteur }}, {{ zone.modele_zone.largeur }}])
        dicoZones{{ association.salle.id }}{{ loop.index }}.set("contient_indice", {% if zone.contient_indice %}true{% else %}false{%endif%})
        listeZonesSalle{{ association.salle.id }}.push(dicoZones{{ association.salle.id }}{{ loop.index }});
      {% endfor %}
      salle{{ loop.index }}.set("zones", listeZonesSalle{{ association.salle.id }});
      listeSalles.push(salle{{ loop.index }});
    {% endfor %}

    {% if salleAafficher %}
      afficherSalle({{ salleAafficher }});
    {% else %}
      chargerSalleIntro(("{{ instance.modele_escape.nom }}").split("&#39;").join("'"), ("{{ instance.modele_escape.desc }}").split("&#39;").join("'"));
    {% endif %}
    document.body.children[1].lastElementChild.remove(); //pour effacer ce bloc de script et empêcher la lecture
  </script>
{% endblock %}
