{% extends 'accueil-prof.html' %}

{% block title %}
  <title>Modifier {{ escape.nom }}</title>
{% endblock %}

{% block head_suplementaire %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modifier-escape.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
{% endblock %}

{% block contenu_onglet %}
  <section>
    <button onClick="if(confirm('Êtes-vous sûr de vouloir supprimer cet escape game ? \nCette opération est irréversible !')){location.href='/escapes/supprimer/{{ escape.id }}';}" couleur="supression"><ion-icon name='trash' size='small'></ion-icon>Supprimer</button>
    <h1>Modifier {{ escape.nom }}</h1>
    <button id="boutonValidation" onClick="document.getElementById('formulaire_escape').submit();" couleur="validation" title="Enregistrez les modifications" disabled><ion-icon name='save' size='small'></ion-icon>Enregistrer</button>
  </section>
  <form action="" id="formulaire_escape" method="POST" lang="fr">
    <ul>
      <section id="informations">
        <h2>Informations générales</h2>
          <label for="nom">Titre
            <input oninput="verifChangement();" name='nom' type='text' placeholder='Mon escape game' value="{{ escape.nom }}"/>
          </label>
          <label for="description">Description
            <textarea oninput="verifChangement();" name="description" placeholder='Il est beau'>{{ escape.desc }}</textarea>
          </label>
      </section>
      <section>
        <section>
          <h2>Scénario</h2>
            {% if listeSalles %}
              <div couleur="validation" onClick="location.href='/scenario/modifier/{{ escape.id }}/salle/{{ listeSalles[0].id }}';" title="Modifiez le scénario"><ion-icon name='create' size='small'></ion-icon>Modifier</div>
            {% else %}
              <div couleur="validation" onClick="location.href='/scenario/modifier/{{ escape.id }}/salle/ajouter/{{ listeSalles|length +1 }}';" title="Créez votre propre scénario"><ion-icon name='create' size='small'></ion-icon>Créer</div>
            {% endif %}
        </section>
        {% if listeSalles %}
          <ul>
            {% for salle in listeSalles %}
              <li onClick="location.href='/scenario/modifier/{{ escape.id }}/salle/{{ salle.id }}';">Salle {{ loop.index }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>Il n'y a actuellement aucun scénario pour cet escape game</p>
        {% endif %}
      </section>
    </ul>
    <section>
      <section>
        <h2>Versions</h2>
        {% if listeSalles %}
          <div couleur="validation" onClick="afficherModal('modal1');" title="Créez une nouvelle version de cet escape game"><ion-icon name="person-add"></ion-icon>Nouvelle version</div>
        {% else %}
          <div couleur="button-disabled" title="Créez une nouvelle version de cet escape game"><ion-icon name="person-add"></ion-icon>Nouvelle version</div>
        {% endif %}
      </section>
      {% if listeVersions %}
        <ul>
          {% for version, groupe, listeMembres in listeVersions %}
            <li>
              <h3>Version {{ loop.index }} - Groupe {{ groupe.nom }}</h3>
              <p>{% for pers in listeMembres %}{% if loop.index == listeMembres|length %} {{ pers.nom }}{% else %}{{ pers.nom }}, {% endif %}{% endfor %}</p>
              <label for="dateDebut">Période
                <div>
                  <input type="date" name="dateDebut-{{ version.id }}" value="{{ version.date_debut.isoformat()[0:10] }}" onchange="document.getElementById('boutonValidation').removeAttribute('disabled');" required/>
                  <p> - </p>
                  <input type="date" name="dateFin-{{ version.id }}" value="{{ version.date_fin.isoformat()[0:10] }}" onchange="document.getElementById('boutonValidation').removeAttribute('disabled');" required/>
                </div>
              </label>
              <ion-icon name="trash" size="large" onClick="if(confirm('Voulez-vous supprimer cette version de l\'escape game ? \nCette opération est irréversible !')){location.href='/escapes/modifier/{{ escape.id }}/versions/supprimer/{{ version.id }}';}"></ion-icon>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <p>Créez des versions en ajoutant un groupe à cet escape game !</p>
        {% if not listeSalles %}
          <p>Il faut avoir au moins une salle dans le scénario pour cela.</p>
        {% endif %}
      {% endif %}
    </section>
  </form>
  <div id="modal1" class="modal">
    <section>
      <section>
        <button onclick="closeModal();"><ion-icon name="close" size="small"></ion-icon></button>
        <h2>Choisir le groupe à associer</h2>
        <button couleur='validation' onclick="document.getElementById('formulaire_versions').submit();"><ion-icon name="save" size="small"></ion-icon>Valider</button>
      </section>
      {% if listeGroupesAjoutables %}
        <form id="formulaire_versions" action="/escapes/modifier/{{ escape.id }}/versions/ajouter/" method='POST'>
          <ul>
            {% for groupe in listeGroupesAjoutables %}
              <label for="groupe-{{ loop.index }}"><input id="groupe-{{ loop.index }}" type="checkbox" name="groupe-{{ loop.index }}" value="{{ groupe.id }}"></input>{{ groupe }}</label>
            {% endfor %}
          </ul>
        </form>
      {% else %}
        <p>Il n'y a aucun groupe qu'il est possible d'ajouter</p>
      {% endif %}
    </section>
  </div>
  <script type="text/javascript">
    const titre = document.getElementById('informations');
    const bouton = document.getElementById('boutonValidation');
    const chaineInitialeTitre = "{{ escape.nom }}";
    const chaineInitialeDesc = "{{ escape.desc }}";

    function verifChangement(){
      if((titre.children[1].children[0].value == chaineInitialeTitre.replace("&#39;", "'")) && (titre.children[2].children[0].value == chaineInitialeDesc.replace("&#39;", "'"))){
        if(bouton.getAttribute("disabled") == null){
          bouton.setAttribute("disabled", "");
        }
      }else{
        if(bouton.getAttribute("disabled") != null){
          bouton.removeAttribute("disabled");
        }
      }
    }
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/modal.js') }}"></script>
{% endblock %}
