{% extends 'accueil-prof.html' %}

{% block title %}
  <title>
    {% if form.mode.data == "edition" %}
      Modifier étudiant
    {% elif form.mode.data == "creation" %}
      Créer étudiant
    {% endif %}
  </title>
{% endblock %}

{% block head_suplementaire %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/modifier-etudiant.css') }}">
{% endblock %}

{% block contenu_onglet %}
  <section>
    <button title="Retourner sur la liste des étudiants" onClick="document.location.href='/etudiants/';"><ion-icon name="arrow-back-outline" size="small"></ion-icon></ion-icon>Retour</button>
    {% if form.mode.data == "edition" %}
      <form method="POST" action="{{ url_for('gestion_etudiant_reset_mdp', id=etudiant.id) }}">
        <button title="Si le mot de passe à été oublié" onclick="return confirm('Le nouveau mot de passe sera le numero étudiant\nEtes vous sûr ?');" couleur="attention"><ion-icon name="alert" size='small'></ion-icon>Réinitialiser le mot de passe</button>
      </form>
    {% endif %}
    <h1>
      {% if form.mode.data == "edition" %}
        Modifier l'étudiant numéro {{ etudiant.id }}
      {% elif form.mode.data == "creation" %}
        Créer étudiant
      {% endif %}
    </h1>

    <button title="Enregistrer" couleur="validation" onClick="document.getElementById('formulaire_profil').submit();"><ion-icon name='save' size='small'></ion-icon>Enregistrer</button>
  </section>

  <form role='form' action="{{ url_for('gestion_etudiants_save') }}" method="POST" id="formulaire_profil" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
      <label for="fichier">
        {% if etudiant.image %}
          <img src="{{ etudiant.image.image }}" alt="image de profil" class="image" id="avatar_img"/>
        {% else %}
          <img src="{{ url_for('static', filename='images/user.png') }}" alt="image de profil" id="avatar_img" class="image">
        {% endif %}
        <input type="file" id="fichier" accept="image/png, image/jpeg">
        <input type="hidden" name="_avatar" id="_avatar">
        <ion-icon size="small" name="create"></ion-icon>
      </label>
      <div>
      {% if form.image.errors %}
        <ul class="has-errors">
          {% for e in form.image.errors %}
            <li>{{ e }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      </div>
    </div>

    <div>
      <!-- identifiant -->
      <div>
        <div class="form-group">
          {{ form.id.label }}
          {% if form.mode.data == "edition" %}
            {{ form.id(placeholder="Numéro étudiant", readonly=True) }}
          {% else %}
            {{ form.id(placeholder="Numéro étudiant") }}
          {% endif %}
        </div>
        {% if form.id.errors %}
          <ul class='has-errors'>
            {% for e in form.id.errors %}
              <li>{{ e }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>


      <!-- Prenom -->
      <div>
        <div class="form-group">
          {{ form.prenom.label }}
          {{ form.prenom(placeholder="Prenom") }}
        </div>
        {% if form.prenom.errors %}
          <ul class="has-errors">
            {% for e in form.prenom.errors %}
              <li>{{ e }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <!-- Nom -->
      <div>
        <div class="form-group">
          {{ form.nom.label }}
          {{ form.nom(placeholder="Nom") }}
        </div>
        {% if form.nom.errors %}
          <ul class="has-errors">
            {% for e in form.nom.errors %}
              <li>{{ e }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>

      <!-- Email -->
      <div>
        <div class="form-group">
          {{ form.email.label }}
          {{ form.email(placeholder="Email") }}
        </div>
        {% if form.email.errors %}
          <ul class="has-errors">
            {% for e in form.email.errors %}
              <li>{{ e }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    </div>
  </form>

  <script>
    function changementImage(){
      image = document.forms.formulaire_profil.image;
      console.log(image.files[0]);
      if (image.files && image.files[0].type.startsWith("image/")){
        let reader = new FileReader();

        reader.onload = function(e) {
          document.getElementsByClassName("image")[0].setAttribute("src", e.target.result);
        }
        reader.readAsDataURL(image.files[0]);
      }
    }
  </script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/profil.js') }}"></script>
{% endblock %}
