{% extends 'accueil-prof.html' %}

{% block head_suplementaire %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/statistiques.css') }}">
{% endblock %}

{% block title %}
  <title>Statistiques</title>
  <script>

    function visibilite(thingId)
    {
      var targetElement;
      targetElement = document.getElementById(thingId) ;
      if (targetElement.style.display == "none"){
        targetElement.style.display = "" ;
      }
    }

    function afficheStatistiques(thingId)
    {
      var esc = document.getElementById('escapeg').value;
      var select = document.getElementById('select').value;
      //nbPoints = recup le nb de points max du groupe;
      visibilite(thingId);
    }


  </script>
{% endblock %}

{% block contenu_onglet %}
<section class="search">
  <div>
    <label for="escape-game">Escape game</label>
    <select id="escape-game">
      {% for i in range(30) %}
      <option>{{ i }}</option>
      {% endfor %}
    </select>
  </div>
  <div id="group">
    <label for="escape-game">Groupe</label>
    <select id="escape-game">
      {% for i in range(30) %}
      <option>{{ i }}</option>
      {% endfor %}
    </select>
  </div>
</section>
  {% if True %}
  <table>
    <tr>
      <th>Escape Game</th>
      <td>----</td>
    </tr>
    <tr>
      <th>Progression</th>
      <td>----</td>
    </tr>
    <tr>
      <th>Réponses</th>
      <td>----</td>
    </tr>
    <tr>
      <th>Note</th>
      <td>----</td>
    </tr>
    <tr>
      <th>Début</th>
      <td>----</td>
    </tr>
    <tr>
      <th>Fin</th>
      <td>----</td>
    </tr>
  </table>
  {% endif %}

{% endblock %}
